<!DOCTYPE html>
<html lang="en">
    <%- include ../layouts/head.ejs %>
    <body>
        <%- include ../layouts/header.ejs %>
        <nav><a href="/clinics">Clinics</a> >> <a href="/clinics/<%= clinicId %>"><%= clinic.name %></a></nav>
        <main>
            <h1>patient list</h1>
            <ul>
                <% patients.forEach(patient => { %>
                    <li><a href="/clinics/<%= clinicId %>/patients/show/<%= patient.id %>"><%= patient.name.lastName %>,
                            <%= patient.name.firstName %></a></li>
                <% }); %>
            </ul>
        </main>
        <%- include ../layouts/footer.ejs %>
    </body>
</html>