<!DOCTYPE html>
<html lang="en">
    <%- include ../layouts/head.ejs %>
    <body>
        <div class="patients-index-container">
            <span class="patients-index-header"><%- include ../layouts/header.ejs %></span>
            <nav class="breadcrumbs">
                <a class="breadcrumbs-clinics-link" href="/clinics">Clinics</a> &gt
                <a class="breadcrumbs-clinic-link" href="/clinics/show/<%= clinicId %>"><%= clinic.name %></a> &gt
                <span>Patients</span>
            </nav>
            <main class="patients-index-main">
                <img class="patient-icon" src="/patient.svg" alt="Patient Icon">
                <h1 class="patients-h1">Patients</h1>
                <ul class="patient-list">
                    <% patients.forEach(patient => { %>
                    <li class="patient-list-item"><a class="patient-link"
                        href="/clinics/<%= clinicId %>/patients/show/<%= patient.id %>"><%= patient.name.lastName %>,&nbsp;<%= patient.name.firstName %></a></li>
                    <% }); %>
                </ul>
                <div class="create-patient-link">
                    <a class="fas fa-plus-square" href="/clinics/<%= clinicId %>/patients/create">&nbsp;
                        <span class="create-patient-span">Create Patient</span></a>
                </div>
            </main>
            <span class="patients-index-footer"><%- include ../layouts/footer.ejs %></span>
        </div>
    </body>
</html>