<!DOCTYPE html>
<html lang="en">
    <%- include ../layouts/head.ejs %>
    <body>
        <div class="patients-show-container">
            <span class="patients-show-header"><%- include ../layouts/header.ejs %></span>
            <nav class="breadcrumbs">
                <a href="/clinics">Clinics</a> &gt
                <a href="/clinics/show/<%= clinicId %>"><%= patient.clinic.name %></a> &gt
                <a href="/clinics/<%= clinicId %>/patients">Patients</a> &gt
                <span><%= patient.patientName %></span>
            </nav>
            <h1 class="patient-name"><%= patient.patientName %></h1>
            <main class="patients-show-main">
                <% if (successMessage != 'undefined' && successMessage) { %>
                    <h2><%= successMessage %></h2>
                <% } %>
                <section class="patient-information">
                    <div class="patient-id-info">
                        <p><span class="patient-sex-span">Sex:</span> <%= patient.sex %></p>
                        <p><span class="patient-dob-span">DOB:</span> <%= patient.formatBirthDate %></p>
                        <p><span class="patient-ssn-span">SSN:</span> <%= patient.formatSsn %></p>
                    </div>
                    <div class="patient-address">
                        <h4 class="patient-address-header">Address</h4>
                        <p><%= patient.address.street %></p>
                        <p><%= patient.address.city %>, <%=patient.address.state %>, <%= patient.address.zipCode %></p>
                    </div>
                    <div class="patient-phone-numbers">
                        <h4>Phone Number(s)</h4>
                        <p>Home: <%= patient.emptyHomePhoneValue %></p>
                        <p>Cell: <%= patient.emptyCellPhoneValue %></p>
                        <p>Work: <%= patient.emptyWorkPhoneValue %></p>
                    </div>
                </section>
                <form  class="patient-delete-form" method="POST" action="/clinics/<%= clinicId %>/patients/<%= patient._id %>">
                    <button class="fas fa-trash-alt"> Delete Patient</button>
                    <input type="hidden" name="_method" value="DELETE">
                </form>
                <a class="fas fa-edit" href="/clinics/<%= clinicId %>/patients/update/<%= patient._id %>"> Update Patient</a>
                <a class="fas fa-arrow-right" href="/clinics/<%= clinicId %>/patients/<%= patient._id %>/lab-results"> Go to Lab Results</a>
            </main>
            <span class="patients-show-footer"><%- include ../layouts/footer.ejs %></span>
            <%- include ../layouts/scripts.ejs %>
        </div>
    </body>
</html>