<!DOCTYPE html>
<html lang="en">
    <%- include ../layouts/head.ejs %>
    <body>
        <div class="patients-show-container">
            <span class="patients-show-header"><%- include ../layouts/header.ejs %></span>
            <nav class="breadcrumbs" role="region">
                <a class="breadcrumbs-clinics-link" href="/clinics">Clinics</a> &gt
                <a class="breadcrumbs-clinic-link" href="/clinics/show/<%= clinicId %>"><%= patient.clinic.name %></a> &gt
                <a class="breadcrumbs-patients-link" href="/clinics/<%= clinicId %>/patients">Patients</a> &gt
                <span><%= patient.patientName %></span>
            </nav>
            <h1 class="patient-name"><%= patient.patientName %></h1>
            <main class="patients-show-main" role="main">
                <%- include ../layouts/messages %>
                <section class="patient-information" role="region">
                    <div class="patient-id-info">
                        <p>
                            <span class="sex-span-1">Sex:</span>&nbsp;
                            <span class="sex-span-2"><%= patient.sex %></span>
                        </p>
                        <p>
                            <span class="dob-span-1">DOB:</span>&nbsp;
                            <span class="dob-span-2"><%= patient.formatBirthDate %></span>
                        </p>
                        <p>
                            <span class="ssn-span-1">SSN:</span>&nbsp;
                            <span class="ssn-span-2"><%= patient.formatSsn %></span>
                        </p>
                    </div>
                    <div class="patient-address">
                        <h2 class="patient-address-header">Address</h2>
                        <p class="patient-address-p-1"><%= patient.address.street %></p>
                        <p class="patient-address-p-2">
                            <%= patient.address.city %>,&nbsp;<%= patient.address.state %>,&nbsp;<%= patient.address.zipCode %>
                        </p>
                    </div>
                    <div class="patient-phone-numbers">
                        <h2 class="patient-phone-numbers-header">Phone Number(s)</h2>
                        <p>
                            <span class="home-phone-span-1">Home:</span>&nbsp;
                            <span class="home-phone-span-2"><%= patient.emptyHomePhoneValue %></span>
                        </p>
                        <p>
                            <span class="cell-phone-span-1">Cell:</span>&nbsp;
                            <span class="cell-phone-span-2"><%= patient.emptyCellPhoneValue %></span>
                        </p>
                        <p>
                            <span class="work-phone-span-1">Work:</span>&nbsp;
                            <span class="work-phone-span-2"><%= patient.emptyWorkPhoneValue %></span>
                        </p>
                    </div>
                    <div class="patient-primary-insurance">
                        <h2 class="patient-primary-insurance-header">Primary Insurance</h2>
                        <p>
                            <span class="insurance-span-1">Company:</span>&nbsp;
                            <span class="insurance-span-2"><%= patient.primaryInsurance.insuranceCompany %></span>
                        </p>
                        <div>
                            <span class="insurance-span-1">Cardholder:</span>&nbsp;
                            <div class="insurance-span-2-container">
                                <span><%= patient.primaryInsurance.nameOfCardHolder.firstName %></span>
                                <span><%= patient.primaryInsurance.nameOfCardHolder.lastName %></span>
                            </div>
                        </div>
                        <p>
                            <span class="insurance-span-1">Policy Number:</span>&nbsp;
                            <span class="insurance-span-2"><%= patient.primaryInsurance.policyNumber %></span>
                        </p>
                        <p>
                            <span class="insurance-span-1">Cardholder's DOB:</span>&nbsp;
                            <span class="insurance-span-2"><%= patient.primaryInsurance.dateOfBirthOfCardHolder %></span>
                        </p>
                        <p>
                            <span class="insurance-span-1">Cardholder's SSN:</span>&nbsp;
                            <span class="insurance-span-2"><%= patient.formatPrimaryInsuranceSsn %></span>
                        </p>
                    </div>
                    <% if (patient.secondaryInsurance.insuranceCompany != null) { %>
                        <div class="patient-secondary-insurance">
                            <h2 class="patient-secondary-insurance-header">Secondary Insurance</h2>
                            <p>
                                <span class="insurance-span-1">Company:</span>&nbsp;
                                <span class="insurance-span-2"><%= patient.secondaryInsurance.insuranceCompany %></span>
                            </p>
                            <div>
                                <span class="insurance-span-1">Cardholder:</span>&nbsp;
                                <div class="insurance-span-2-container">
                                    <span><%= patient.secondaryInsurance.nameOfCardHolder.firstName %></span>
                                    <span><%= patient.secondaryInsurance.nameOfCardHolder.lastName %></span>
                                </div>
                            </div>
                            <p>
                                <span class="insurance-span-1">Policy Number:</span>&nbsp;
                                <span class="insurance-span-2"><%= patient.secondaryInsurance.policyNumber %></span>
                            </p>
                            <p>
                                <span class="insurance-span-1">Cardholder's DOB:</span>&nbsp;
                                <span class="insurance-span-2"><%= patient.secondaryInsurance.dateOfBirthOfCardHolder %></span>
                            </p>
                            <p>
                                <span class="insurance-span-1">Cardholder's SSN:</span>&nbsp;
                                <span class="insurance-span-2"><%= patient.formatSecondaryInsuranceSsn %></span>
                            </p>
                        </div>
                    <% } %>
                </section>
                <div class="button-container">
                    <form  class="patient-delete-form" method="POST" action="/clinics/<%= clinicId %>/patients/<%= patient._id %>">
                        <button class="fas fa-trash-alt">&nbsp;<span class="delete-patient-span">Delete</span></button>
                        <input type="hidden" name="_method" value="DELETE">
                    </form>
                    <a class="fas fa-edit" href="/clinics/<%= clinicId %>/patients/update/<%= patient._id %>">&nbsp;
                        <span class="update-patient-span">Update</span>
                    </a>
                </div>
                <div class="go-to-lab-results-div">
                    <a class="go-to-lab-results-link"
                        href="/clinics/<%= clinicId %>/patients/<%= patient._id %>/lab-results">Go To Lab Results&nbsp;&nbsp;<span class="fas fa-arrow-right"></span></a>
                </div>
            </main>
            <span class="patients-show-footer"><%- include ../layouts/footer.ejs %></span>
            <%- include ../layouts/scripts.ejs %>
        </div>
    </body>
</html>