<!DOCTYPE html>
<html lang="en">
    <%- include ../layouts/head.ejs %>
    <body>
        <%- include ../layouts/header.ejs %>
        <nav class="breadcrumbs">
            <a href="/clinics">Clinics</a> &gt
            <a href="/clinics/show/<%= clinicId %>"><%= patient.clinic.name %></a> &gt
            <a href="/clinics/<%= clinicId %>/patients">Patients</a> &gt
            <span><%= patient.patientName %></span>
        </nav>
        <main>
            <h1><%= patient.patientName %></h1>
            <% if (successMessage != 'undefined' && successMessage) { %>
                <h2><%= successMessage %></h2>
            <% } %>
            <form  class="patient-delete-form" method="POST" action="/clinics/<%= clinicId %>/patients/<%= patient._id %>">
                <button class="patient-delete-button">Delete Patient</button>
                <input type="hidden" name="_method" value="DELETE">
            </form>
            <a class="fas fa-edit" href="/clinics/<%= clinicId %>/patients/update/<%= patient._id %>"> Update Patient</a>
            <a class="fas fa-arrow-right" href="/clinics/<%= clinicId %>/patients/<%= patient._id %>/lab-results"> Go to Lab Results</a>
            <section class="patient-information">
                <p><%= patient.formatBirthDate %></p>
                <p><%= patient.gender %></p>
                <p><%= patient.formatSsn %></p>
                <p><%= patient.address.street %></p>
                <p><%= patient.address.city %>, <%=patient.address.state %>, <%= patient.address.zipCode %></p>
                <div class="patient-phone-numbers">
                    <p><%= patient.phoneNumbers.home %></p>
                    <p><%= patient.phoneNumbers.cell %></p>
                    <p><%= patient.phoneNumbers.work %></p>
                </div>
            </section>

            <a href="/clinics/<%= clinicId %>/patients/<%= patient._id %>/lab-results">Go to lab results</a>
            <!-- <% patient.labResults.forEach(result => { %>
                <a href="/clinics/<%= clinicId %>/patients/<%= patient._id %>/lab-results/show/<%= result.id %>"><%= result.formatDate %></a>
            <% }); %>
            <a href="/clinics/<%= clinicId %>/patients/update/<%= patient.id %>">Update Patient</a> -->
        </main>
        <%- include ../layouts/footer.ejs %>
        <%- include ../layouts/scripts.ejs %>
    </body>
</html>