<!DOCTYPE html>
<html lang="en">
    <%- include ../layouts/head.ejs %>
    <body>
        <%- include ../layouts/header.ejs %>
        <main>
            <h1><%= patient.patientName %></h1>
            <% if (successMessage != 'undefined' && successMessage) { %>
                <h2><%= successMessage %></h2>
            <% } %>
            <% patient.labResults.forEach(result => { %>
                <a href="/clinics/<%= patient.clinic._id %>/patients/<%= patient.id %>/lab-results/show/<%= result.id %>"><%= result.id %></a>
                <a href="/clinics/<%= patient.clinic._id %>/patients/<%= patient.id %>/lab-results/update/<%= result.id %>">update</a>
            <% }); %>
        </main>
        <%- include ../layouts/footer.ejs %>
    </body>
</html>