<!DOCTYPE html>
<html lang="en">
    <%- include ../layouts/head.ejs %>
    <body>
        <div class="lab-results-index-container">
            <span class="lab-results-index-header"><%- include ../layouts/header.ejs %></span>
            <nav class="breadcrumbs">
                <a href="/clinics">Clinics</a> &gt
                <a href="/clinics/show/<%= clinicId %>"><%= clinic.name %></a> &gt
                <a href="/clinics/<%= clinicId %>/patients">Patients</a> &gt
                <a href="/clinics/<%= clinicId %>/patients/show/<%= patientId %>"><%= patient.patientName %></a> &gt
                <span>Lab Results</span>
            </nav>
            <main class="lab-results-index-main">
                <img class="lab-results-icon" src="/blood-sample.svg" alt="Lab Results Icon">
                <h1 class="lab-results-h1">Lab Results</h1>
                <%- include ../layouts/messages %>
                <ul class="lab-results-list">
                    <% results.forEach(result => { %>
                    <li class="lab-results-list-item"><a class="lab-results-link" 
                            href="/clinics/<%= clinicId %>/patients/<%= patientId %>/lab-results/show/<%= result.id %>"><%= result.formatDate %></a></li>
                    <% }); %>
                </ul>
                <div class="create-lab-results-link">
                    <a class="fas fa-plus-square" 
                        href="/clinics/<%= clinicId %>/patients/<%= patientId %>/lab-results/create">&nbsp;
                            <span class="create-lab-results-span">Create Lab Results</span></a>
                </div>
            </main>
            <span class="lab-results-index-footer"><%- include ../layouts/footer.ejs %></span>
        </div>
    </body>
</html>