<!DOCTYPE html>
<html lang="en">
    <%- include ../layouts/head.ejs %>
    <body>
        <%- include ../layouts/header.ejs %>
        <main>
            <h1>Lab Results</h1>
            <ul>
                <% patient.results.forEach(result => { %>
                <ol><a href="/clinics/<%= patient.clinic._id/patients/<%= patient.id %>/lab-results/show/<%= result.id%>"><%= result.date %></a>
                    <a href="/clinics/<%= patient.clinic._id/patients/<%= patient.id %>/lab-results/update/<%= result.id%>">update</a></ol>
                <% }); %>
            </ul>
        </main>
        <%- include ../layouts/footer.ejs %>
    </body>
</html>