<!DOCTYPE html>
<html lang="en">
    <%- include ../layouts/head.ejs %>
    <body>
        <%- include ../layouts/header.ejs %>
        <main>
            <h1>Lab Results</h1>
            <ul>
                <% results.forEach(result => { %>
                <ol><a href="/clinics/<%= clinicId %>/patients/<%= patientId %>/lab-results/show/<%= result.id %>"><%= result.formatDate %></a>
                    <a href="/clinics/<%= clinicId %>/patients/<%= patientId %>/lab-results/update/<%= result.id %>">update</a></ol>
                <% }); %>
            </ul>
        </main>
        <%- include ../layouts/footer.ejs %>
    </body>
</html>