<!DOCTYPE html>
<html lang="en">
    <%- include ../layouts/head.ejs %>
    <body>
        <div class="lab-results-show-container">
            <span class="lab-results-show-header"><%- include ../layouts/header.ejs %></span>
            <nav class="breadcrumbs">
                <a href="/clinics">Clinics</a> &gt
                <a href="/clinics/show/<%= clinicId %>"><%= patient.clinic.name %></a> &gt
                <a href="/clinics/<%= clinicId %>/patients">Patients</a> &gt
                <a href="/clinics/<%= clinicId %>/patients/show/<%= patientId %>"><%= patient.patientName %></a> &gt
                <a href="/clinics/<%= clinicId %>/patients/<%= patientId %>/lab-results">Lab Results</a> &gt
                <span><%= result.formatDate %></span>
            </nav>
            <main class="lab-results-show-main">
                <h1><%= result.formatDate %></h1>
                <%- include ../layouts/messages %>
                <section class="hematology">
                    <h2 class="hematology-header">Hematology</h2>
                    <p><span class="wbc-span-1">WBC Count:</span>&nbsp;
                        <span class="wbc-span-2"><%= result.hematology.wbcCount %>&nbsp;&nbsp;<span class="wbc-span-3">1000/mcL</span></span></p>
                    <p><span class="rbc-span-1">RBC Count:</span>&nbsp;
                        <span class="rbc-span-2"><%= result.hematology.rbcCount %>&nbsp;&nbsp;<span class="rbc-span-3">mill/mcL</span></span></p>
                    <p><span class="hemoglobin-span-1">Hemoglobin:</span>&nbsp;
                        <span class="hemoglobin-span-2"><%= result.hematology.hemoglobin %>&nbsp;&nbsp;<span class="hemoglobin-span-3">g/dL</span></span></p>
                    <p><span class="hematocrit-span-1">Hematocrit:</span>&nbsp;
                        <span class="hematocrit-span-2"><%= result.hematology.hematocrit %>&nbsp;&nbsp;<span class="hematocrit-span-3">%</span></span></p>
                    <p><span class="platelet-count-span-1">Platelet Count:</span>&nbsp;
                        <span class="platelet-count-span-2"><%= result.hematology.plateletCount %>&nbsp;&nbsp;<span class="platelet-count-span-3">1000/mcL</span></span></p>
                </section>
                <section class="chemistry">
                    <h2 class="chemistry-header">Chemistry</h2>
                    <p><span class="bun-span-1">BUN:</span>&nbsp;
                        <span class="bun-span-2"><%= result.chemistry.bun %>&nbsp;&nbsp;<span class="bun-span-3">mg/dL</span></span></p>
                    <p><span class="creatinine-span-1">Creatinine:</span>&nbsp;
                        <span class="creatinine-span-2"><%= result.chemistry.creatinine %>&nbsp;&nbsp;<span class="creatinine-span-3">mg/dL</span></span></p>
                    <p><span class="sodium-span-1">Sodium:</span>&nbsp;
                        <span class="sodium-span-2"><%= result.chemistry.sodium %>&nbsp;&nbsp;<span class="sodium-span-3">mEq/L</span></span></p>
                    <p><span class="potassium-span-1">Potassium:</span>&nbsp;
                        <span class="potassium-span-2"><%= result.chemistry.potassium %>&nbsp;&nbsp;<span class="potassium-span-3">mEq/L</span></span></p>
                    <p><span class="calcium-span-1">Calcium:</span>&nbsp;
                        <span class="calcium-span-2"><%= result.chemistry.calcium %>&nbsp;&nbsp;<span class="calcium-span-3">mg/dL</span></span></p>
                    <p><span class="phosphorus-span-1">Phosphorus:</span>&nbsp;
                        <span class="phosphorus-span-2"><%= result.chemistry.phosphorus %>&nbsp;&nbsp;<span class="phosphorus-span-3">mg/dL</span></span></p>
                    <p><span class="albumin-span-1">Albumin:</span>&nbsp;
                        <span class="albumin-span-2"><%= result.chemistry.albumin %>&nbsp;&nbsp;<span class="albumin-span-3">g/dL</span></span></p>
                    <p><span class="glucose-span-1">Glucose:</span>&nbsp;
                        <span class="glucose-span-2"><%= result.chemistry.glucose %>&nbsp;&nbsp;<span class="glucose-span-3">mg/dL</span></span></p>
                    <p><span class="iron-span-1">Iron:</span>&nbsp;
                        <span class="iron-span-2"><%= result.chemistry.iron %>&nbsp;&nbsp;<span class="iron-span-3">mcg/dL</span></span></p>
                    <p><span class="cholesterol-span-1">Cholesterol:</span>&nbsp;
                        <span class="cholesterol-span-2"><%= result.chemistry.cholesterol %>&nbsp;&nbsp;<span class="cholesterol-span-3">mg/dL</span></span></p>
                    <p><span class="triglycerides-span-1">Triglycerides:</span>&nbsp;
                        <span class="triglycerides-span-2"><%= result.chemistry.triglycerides %>&nbsp;&nbsp;<span class="triglycerides-span-3">mg/dL</span></span></p>
                </section>
            </main>
            <div class="lab-results-delete-and-update-div">
                <form  class="lab-results-delete-form" method="POST" action="/clinics/<%= clinicId %>/patients/<%= patientId %>/lab-results/<%= result._id %>">
                    <button class="fas fa-trash-alt">&nbsp;<span class="delete-lab-results-span">Delete</span></button>
                    <input type="hidden" name="_method" value="DELETE">
                </form>
                <a class="fas fa-edit" 
                    href="/clinics/<%= clinicId %>/patients/<%= patientId %>/lab-results/update/<%= result.id %>">&nbsp;<span class="update-lab-results-span">Update</span></a>
            </div>
            <span class="lab-results-show-footer"><%- include ../layouts/footer.ejs %></span>
            <%- include ../layouts/scripts.ejs %>
        </div>
    </body>
</html>