<!DOCTYPE html>
<html lang="en">
    <%- include ../layouts/head.ejs %>
    <body>
        <%- include ../layouts/header.ejs %>
        <main>
            <h1><%= result.formatDate %></h1>
            <% if (successMessage != 'undefined' && successMessage) { %>
                <h2><%= successMessage %></h2>
            <% } %>
            <form  class="lab-results-delete-form" method="POST" action="/clinics/<%= clinicId %>/patients/<%= patientId %>/lab-results/<%= result._id %>">
                <button class="lab-results-delete-button">Delete</button>
                <input type="hidden" name="_method" value="DELETE">
            </form>
            <section class="hematology">
                <h3>Hematology</h3>
                <div>WBC Count: <%= result.hematology.wbcCount %></div>
                <div>RBC Count: <%= result.hematology.rbcCount %></div>
                <div>Hemoglobin: <%= result.hematology.hemoglobin %></div>
                <div>Hematocrit: <%= result.hematology.hematocrit %></div>
                <div>Platelet Count: <%= result.hematology.plateletCount %></div>
            </section>
            <section class="chemistry">
                <h3>Chemistry</h3>
                <div>BUN: <%= result.chemistry.bun %></div>
                <div>Creatinine: <%= result.chemistry.creatinine %></div>
                <div>Sodium: <%= result.chemistry.sodium %></div>
                <div>Potassium: <%= result.chemistry.potassium %></div>
                <div>Calcium: <%= result.chemistry.calcium %></div>
                <div>Phosporus: <%= result.chemistry.phosphorus %></div>
                <div>Albumin: <%= result.chemistry.albumin %></div>
                <div>Glucose: <%= result.chemistry.glucose %></div>
                <div>Iron: <%= result.chemistry.iron %></div>
                <div>Cholesterol: <%= result.chemistry.cholesterol %></div>
                <div>Triglycerides: <%= result.chemistry.triglycerides %></div>
            </section>
            <a href="/clinics/<%= clinicId %>/patients/<%= patientId %>/lab-results/update/<%= result.id %>">update</a>
        </main>
        <%- include ../layouts/footer.ejs %>
        <%- include ../layouts/scripts.ejs %>
    </body>
</html>