<!DOCTYPE html>
<html lang="en">
    <%- include ../layouts/head.ejs %>
    <body>
        <%- include ../layouts/header.ejs %>
        <main>
            <h1><%= result.date %></h1>
            <% if (typeof successMessage != 'undefined' && successMessage) { %>
                <h2><%= successMessage %></h2>
            <% } %>
            <%= result %>
        </main>
        <%- include ../layouts/footer.ejs %>
    </body>
</html>