<!DOCTYPE html>
<html lang="en">
    <%- include ../layouts/head.ejs %>
    <body>
        <div class="clinics-index-container">
            <span class="clinics-index-header"><%- include ../layouts/header.ejs %></span>
            <main class="clinics-index-main">
                <img class="clinic-icon" src="/clinic.svg" alt="Clinic Icon">
                <h1 class="clinics-h1">Clinics</h1>
                <ul class="clinic-list">
                    <% clinics.forEach(clinic => { %>
                        <li class="clinic-list-item"><a class="clinic-link" href="/clinics/show/<%= clinic.id %>"><%= clinic.name %></a></li>
                    <% }); %>
                </ul>
                <div class="create-clinic-link">
                    <a class="fas fa-plus-square" href="/clinics/create">&nbsp;<span class="create-clinic-span">Create Clinic</span></a>
                </div>
            </main>
            <span class="clinics-index-footer"><%- include ../layouts/footer.ejs %></span>
        </div>
    </body>
</html>