<!DOCTYPE html>
<html lang="en">
    <%- include ../layouts/head.ejs %>
    <body>
        <%- include ../layouts/header.ejs %>
        <main>
            <nav><a href="/clinics">Back to clinics</a></nav>
            <h1><%= clinic.name %></h1>
            <% if (typeof successMessage != 'undefined' && successMessage) { %>
                <h2><%= successMessage %></h2>
            <% } %>
            <form  class="clinic-delete-form" method="POST" action="/clinics/<%= clinic._id %>">
                <button class="clinic-delete-button">Delete</button>
                <input type="hidden" name="_method" value="DELETE">
            </form>
            <a href="/clinics/<%= clinic._id %>/patients">Go to patients</a>
            <!-- <% clinic.patients.forEach(patient => { %>
                <ol>
                    <a href="/clinics/<%= clinic.id %>/patients/show/<%= patient.id %>">
                            <%= patient.name.lastName %> <%= patient.name.firstName %></a>
                </ol>
            <% }); %> -->
            <a href="/clinics/update/<%= clinic.id %>">Update Clinic</a>
        </main>
        <%- include ../layouts/footer.ejs %>
        <%- include ../layouts/scripts.ejs %>
    </body>
</html>