<!DOCTYPE html>
<html lang="en">
    <%- include ../layouts/head.ejs %>
    <body>
        <div class="clinics-show-container">
            <span class="clinics-show-header"><%- include ../layouts/header.ejs %></span>
            <nav class="breadcrumbs" role="navigation">
                <a class="breadcrumbs-clinics-link" href="/clinics">Clinics</a> &gt
                <span><%= clinic.name %></span>
            </nav>
            <main class="clinics-show-main" role="main">
                <h1><%= clinic.name %></h1>
                <%- include ../layouts/messages %>
                <section class="clinic-info" role="region">
                    <div class="clinic-address-div">
                        <h2 class="clinic-address-header">Address</h2>
                        <p><%= clinic.address.street %></p>
                        <p><%= clinic.address.city %>,&nbsp;<%= clinic.address.state %>,&nbsp;<%= clinic.address.zipCode %></p>
                    </div>
                    <p><span class="clinic-phone-number-span-1">Phone Number:</span>&nbsp;<span class="clinic-phone-number-span-2"><%= clinic.phoneNumber %></span></p>
                    <p><span class="clinic-fax-number-span-1">Fax Number:</span>&nbsp;<span class="clinic-fax-number-span-2"><%= clinic.faxNumber %></span></p>
                    <p><span class="clinic-manager-span-1">Clinic Manager:</span>&nbsp;<span class="clinic-manager-span-2"><%= clinic.managerName %></span></p>
                </section>
                <form  class="clinic-delete-form" method="POST" action="/clinics/<%= clinic._id %>">
                    <button type="submit" class="fas fa-trash-alt">&nbsp;<span class="delete-clinic-span">Delete</span></button>
                    <input type="hidden" name="_method" value="DELETE">
                </form>
                <a class="fas fa-edit" href="/clinics/update/<%= clinic.id %>">&nbsp;<span class="update-clinic-span">Update</span></a>
                <div class="go-to-patients-div">
                    <a class="go-to-patients-link"
                        href="/clinics/<%= clinic._id %>/patients">Go To Patients&nbsp;&nbsp;<span class="fas fa-arrow-right"></span></a>
                </div>
            </main>
            <span class="clinics-show-footer"><%- include ../layouts/footer.ejs %></span>
            <%- include ../layouts/scripts.ejs %>
        </div>
    </body>
</html>