<!DOCTYPE html>
<html lang="en">
    <%- include ../layouts/head.ejs %>
    <body>
        <%- include ../layouts/header.ejs %>
        <main>
            <h1>Register</h1>
            <% if (typeof message != 'undefined' && message) { %>
                <h2><%= message %></h2>
            <% } %>
            <% if (typeof usernameUniqueError != 'undefined' && usernameUniqueError) { %>
                <h2><%= usernameUniqueError %></h2>
            <% } %>
            <form class="user-registration-form" method="POST" action="/users/register">

                <label for="first-name">First Name:</label>
                <input type="text" id="first-name" name="firstName">

                <label for="last-name">Last Name:</label>
                <input type="text" id="last-name" name="lastName">
                
                <label for="username">Username:</label>
                <input type="text" id="username" name="username">

                <label for="password">Password:</label>
                <input type="password" id="password" name="password">

                <button class="register-submit-button" type="submit">Register</button>
            </form>
            <p>Already registered? <a href="/users/login">Login here</a></p>
        </main>
        <%- include ../layouts/footer.ejs %>
    </body>
</html>